@page "/Aportes"

@inject AportesBLL aportesBLL

<EditForm Model="lista">
    <DataAnnotationsValidator />
    <div class="card">
        <div class="card-header">
            <h3>Consulta de Aportes</h3>
        </div>
    <div class="card-body">
         <form>
                <select class="form-control col-2" @bind="Filtro">
                    <option value="1">Aportes Id</option>
                    <option value="2">Persona</option>
                </select>
                <div class="flex-fill mx-2">
                    <label>Criterio</label>
                    <input type="text" class="form-control" @bind="Criterio" />
                </div>
                <button type="button" class="btn btn-warning" @onclick="Buscar">
                    <i class="oi oi-magnifying-glass mr-2" /> Buscar
                </button>
            </form>
        </div>
         <table class="table table-secondary">
            <thead class="thead-dark">
                <tr class="table-info">
                    <th>AportesId</th>
                    <th>Persona</th>
                    <th>Salario</th>
                </tr>
            </thead>
            <tbody>
                 @foreach (var aportes in lista)
                {
                    <tr>
                        <td>@aportes.AportesId</td>
                        <td>@aportes.Persona</td>
                        <td>@aportes.Salario</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</EditForm>



@code {
    public string Filtro { get; set; }
    public string Criterio { get; set; }
    public List<Aportes> lista { get; set; } = new List<Aportes>();

    private void Buscar()
    {

        lista = aportesBLL.GetAportes();

    }
}